body, html {
  height: 100%;

 
}

main {
  background-color: lightgray;
  font-family: 'IBM Plex Sans', sans-serif;
}

.hidden {
    display: none;
}


/* Welcome Display - Slider */
.slider {
  margin-top: 30px;
}
#slide-one {
  background-color: #00263c;
}
#slide-two{
  background-color:goldenrod;
}
#slide-three {
  background-color: #00263c;

}
#slide-four {
  background-color:goldenrod;

}

/* Slider Image Styling*/ 
.slider-image {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: auto;
  opacity: 0.5;

}
/*Slider Image Styling End */

/* Crypto Basics display */
th {
  text-align: center;
  color: #00263c;
  font-size:x-large;
}

.modal-trigger {
  background-color: goldenrod;
  align-items: center;
  font-weight: bolder;
  border-radius: 12px;
  box-shadow: 0 8px 12px 0 rgba(245, 245, 245, 0.2), 0 6px 15px 0 rgba(255, 255, 255, 0.19);
}

.modal-trigger:hover {
  background-color:#00263c;
}

.btn.modal-trigger:visited {
  background-color:grey;
}

.modal-content{
  font-size:larger;
}

h4{
  color:#00263c;
}


/* Carousel styling */
#homepage-background-image {
  position: absolute;
  
}

/* News Feed Styling */
#flexDirection {
  flex-direction: row !important;
}
/* News Feed Styling End */

/* Footer Styling */
.footer-copyright {
  text-align: center;
}
/* Footer Styling End */

/* Trading History Styling*/
.span {
  margin: 10px 0;
  padding: 0.5em;
  width: 300px;
  background-color: #f2f2f2;
  cursor: pointer;
}

#bitcoin {
  font-family: cursive;
}

#curPrice{
    margin-top: 50px;
}
/* Trading History Styling End */

/* Crypto Image Styling */
#cryptoImg{
    float: left;
    height: 120px;
    width: auto;
    margin-right: 10px;
}
/* Crypto Image Styling End*/

/* Recent Searches Styling */
.value{
    border-bottom: 1px solid rgba(128, 128, 128, 0.288);
    padding-bottom: 20px;
}
#recent{
    overflow: auto;
    height: 400px;
}
/* Recent Searches Styling End */