/* News Feed Styling */
#flexDirection {
  flex-direction: row !important;
}
/* News Feed Styling End */

/* Footer Styling */
.footer-copyright {
  text-align: center;
}
/* Footer Styling End */

/* Trading History Styling*/
.span {
  margin: 10px 0;
  padding: 0.5em;
  width: 300px;
  background-color: #f2f2f2;
  cursor: pointer;
}

#bitcoin {
  font-family: cursive;
}

#mktCap{
    margin-top: 50px;
}
/* Trading History Styling End */

/* Crypto Image Styling */
#cryptoImg{
    float: left;
    height: 120px;
    width: auto;
    margin-right: 10px;
}
/* Crypto Image Styling End*/